.popup {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  align-items: center;
}
