.popup__button-save {
  width: 100%;
  height: 50px;
  color: #ffffff;
  background-color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  margin: 18px auto 37px;
  padding: 0;
  border-radius: 2px;
  border: none;
}

@media (max-width: 540px) {
  .popup__button-save {
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin: 15px auto 25px;
  }
}