.popup__container {
  position: relative;
  max-width: 430px;
  height: 330px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media (max-width: 540px) {
  .popup__container {
    width: 282px;
    margin: 0 19px;
  }
}