.profile {
  display: flex;
  max-width: 880px;
  margin: 40px 0 47.25px 0;
}

@media (max-width: 908px) {
  .profile {
    margin: 40px 10px 47.25px 10px;
  }
}

@media (max-width: 672px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

