.elements__card {
  max-width: 282px;
  min-width: 282px;
  max-height: 361px;
  border-radius: 10px;
  margin: 0 17px 0 0;
  background-color: white;
}

@media (max-width: 879px) {
  .elements__card {
    margin: 0 0 0 0;
  }
}