.elements__button-like{
  width: 22px;
  height: 19px;
  border: none;
  background-image: url(../../../../images/__button_like.svg);
  background-color: transparent;
  color: black;
  cursor: pointer;
}

.elements__button-like:hover{
  opacity: 0.5;
}

.elements__button-like:active{
  fill: #000000;
}