.header {
  border-bottom: 1px solid;
  border-color: rgba(84,84,84,0.7);
  max-width: 880px;
  margin: 45px 0 0 0;
  display: flex;
}

@media (max-width: 450px) {
  .header {
    margin: 28px auto 0;
  }
}