.elements__items {
  width: 100%;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 20px 17px;
  list-style: none;
}

@media (max-width: 879px) {
  .elements__items {
    grid-template-columns: repeat(auto-fit, minmax(282px, 315px));
    justify-items: center;
    justify-content: center;
  }
}