.popup__button-close {
  position: absolute;
  border: none;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background-image: url(../../../../images/__button_close.svg);
  background-color: transparent;
  cursor: pointer;
}

@media (max-width: 540px) {
  .popup__button-close {
    top: -33px;
    right: 0;
    background-size: cover;
    width: 20px;
    height: 20px;
  }
}
