.profile__avatar-img {
  display: flex;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 30px 0 0;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}

@media (max-width: 672px) {
  .profile__avatar-img {
    margin: 0 0 22.25px 0;
  }
}
