.popup__button-save {
  width: 358px;
  height: 50px;
  color: #ffffff;
  background-color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  margin: 18px 36px 37px;
  padding: 0;
}

@media (max-width: 540px) {
  .popup__button-save {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin: 15px 22px 25px;
  }
}